<div class="content">
  <div class="container py-5">
    <div class="row">
      <!-- register -->
      <div class="register_block col-md-5 col-10 ms-5 ">
        <h2>New User? Create An Account</h2>
        <div class="facebook">
          <img src="assets/images/facebook.png" alt="facebook">
          <i class="text-capitalize px-3 my-auto">register using Facebook</i>
        </div>
        <!-- {{registerForm.value|json}} -->
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="my-4">
          <div class="mb-3">
            <input type="text" placeholder="UserName" class="form-control" formControlName="username">
          </div>
          <div class="mb-3">
            <input type="email" placeholder="Email" class="form-control" aria-describedby="emailHelp" name="email"
              name="name" formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <input type="phone" placeholder="Phone" class="form-control" name="phone" formControlName="phone">
          </div>
          <div class="row">
            <div class="mb-3 col-6">
              <input type="password" placeholder="Password" class="form-control" name="password"
                formControlName="password">
            </div>
            <div class="mb-3 col-6">
              <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword"
                formControlName="confirmPassword">
            </div>
          </div>
          <div class="mb-3 col-6 form-group" >

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                value="male" formControlName="gender" />
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                value="female"  formControlName="gender" />
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile" required>
          </div>
          <div class="mb-3">
            <input type="text" placeholder="Address" class="form-control">
          </div>
          <div class="mb-3">
            <button class="btn btn-primary text-capitalize">create account</button>
          </div>
        </form>

      </div>
      <!-- login -->
      <div class="login_block col-md-5 col-10 ms-5">
        <h2>Existing User</h2>
        <div class="facebook">
          <img src="assets/images/facebook.png" alt="facebook">
          <i class="text-capitalize px-3 mx-auto">sign in using facebook</i>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="my-4">
          <div class="mb-3">
            <input type="email" placeholder="Email" class="form-control" aria-describedby="emailHelp"
              formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <input type="password" placeholder="Password" class="form-control" name="password"
              formControlName="password">
          </div>
          <div class="mb-3">
            <button class="btn btn-primary text-capitalize">sign in</button>
          </div>
          <div class="forget my-3">
            <a href="#">forgot your password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
