<section class="about mt-5 pt-5">
  <div class="container">
    <div class="details1 row">
      <!-- About Us -->
      <div class="about_us col-md-3 col-sm-6 col-12">
        <h3 class="section_header text-uppercase fs-3">little about us</h3>
        <p class="fs-6"> <strong> Sed posuere </strong> consectetur est at.
          Nulla vitae elit libero,
          a pharetra. Lorem ipsum<strong> dolor sit </strong>amet,
          consectetuer adipiscing elit.</p>
        <h3 class="section_header text-uppercase fs-3">follow us</h3>
        <div class="social row">
          <i class="facebook"></i>
          <i class="twitter"></i>
          <i class="wifi"></i>
          <i class="vimeo"></i>
          <i class="dribble"></i>
          <i class="msn"></i>
        </div>
      </div>
      <!-- Archives -->
      <div class="archives col-md-3 col-sm-6 col-12">
        <h3 class="section_header text-uppercase fs-3">archives</h3>
        <ul class="list-unstyled">
          <li><a href="#">March 2012</a></li>
          <li><a href="#">February 2012</a></li>
          <li><a href="#">January 2012</a></li>
          <li><a href="#">December 2011</a></li>
        </ul>
      </div>
      <!-- Contact Us -->
      <div class="contact_us col-md-3 col-sm-6 col-12">
        <h3 class="section_header text-uppercase fs-3">contact us</h3>
        <ul class="list-unstyled">
          <li><i class="far fa-envelope text-muted"></i><a class="px-2" href="#"> info@premiumcoding.com</a></li>
          <li><i class="fas fa-phone-alt text-muted"></i><span class="px-2">800 756 156</span></li>
          <li><i class="fas fa-mobile-alt text-muted"></i><span class="px-2">+386408007561</span></li>
        </ul>
      </div>
      <!-- NewsPaper -->
      <div class="sign_newspapers col-md-3 col-sm-6 col-12">
        <h3 class="section_header text-uppercase fs-3">sign to newspaper</h3>
        <form>
          <input type="text" value="Name" onfocus="this.value=''" onblur="if(this.value=''){this.value='Name'}">
          <input type="email" value="Email" onfocus="this.value=''" onblur="if(this.value=''){this.value='Email'}">
          <input type="submit" value="SUBSCRIBE">
        </form>
      </div>
    </div>
  </div>
</section>
