*{
    margin: 0 ;
    padding : 0 ;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

/************************************* Upper-Menu *******************************************/
.upper_menu{
    min-height : 40px ;
    background-color : #2A2B2C ;   
}
.upper_menu .logout{
    cursor: pointer
}
.upper_menu img{
    float : left ;
    width: 40px ;
    height:40px ;
    margin:  auto  40px;
    cursor: pointer
}
.upper_menu ul{
     line-height: 40px;
     margin:  auto  40px;
     float : right ;   
     text-align: center;
}
.upper_menu ul li a{text-decoration: none ;}
/*************************************  Header ***********************************************/
.header{
    min-height : 100px ;
    background-color : #35C3D9 ;
}
.header .top-header .logo img{
    display: block ;
    margin:auto ;
}
.header .top-header .lower_menu{box-shadow: 9px 7px 22px 0px rgba(50, 50, 50, 0.18);}
.header .top-header .lower_menu ul li a {text-decoration : none ; font-size :1.3vw }
.header .top-header .lower_menu ul li a:hover,
.header .top-header .lower_menu ul .active{color : black !important }
/* content */
.content{
  min-height: 600px;
  background-image : url("../images/bg.jpg") ;
  
}
.section_header{
    color: #434343;
    font-weight: 300;
    font-size: 2.3vw; 
}
/***************************************  Sales   *********************************************/
.sales{min-height : 300px ; overflow: hidden;}
.sales h3{ 
   font-size: 3vw; 
   font-weight: 100;
}
.sales div{min-height: 170px;}
.sales div div {min-height:80px ; width:32% }
.sales div .sales_content .sales_discount{ width:80% ;}
.sales div .sales_content .sales_discount h4{color: #fff;
	font-size: 2.4em;
	font-weight: 300;
	width: 3em;}
.sales div .sales_content:nth-of-type(1){background-color : #35C3D9 ; }
.sales div .sales_content:nth-of-type(2){background-color : #91B900 ; }
.sales div .sales_content:nth-of-type(3){background-color : #F356B3 ; }
/********************************************Product ****************************************/
.recent_product .owl-carousel .item{ z-index : 0 ;}
.product-section .owl-carousel .item .card-body .card_content .btn ,
.recent_product .owl-carousel .item .card-body .card_content .btn{background-color : #35c4da ;}
.product-section .owl-carousel .item .card-body .card_content .btn:hover ,
.recent_product .owl-carousel .item .card-body .card_content .btn:hover {background-color : #F356B3 }
.recent_product .owl-carousel .item label{
    width:55px;
	height:77px;
    background:url(../images/dis-tag.png) no-repeat;
    position: absolute;
    right:50px;
    top:-15px;
    z-index : 9999 ;
}
/**********************************************footer ****************************************/
.about{
    box-shadow: 1px -7px 17px -9px rgba(0,0,0,0.72);
    -webkit-box-shadow: 1px -7px 17px -9px rgba(0,0,0,0.72);
    -moz-box-shadow: 1px -7px 17px -9px rgba(0,0,0,0.72);
}
.about .details1 .about_us .social i{
	width: 30px;
	height: 30px;
    background: url('../images/img-sprite.png') no-repeat ;
    display: inline-block;
}
.about .details1 .about_us .social  i:hover  {cursor: pointer;}
.about .details1 .about_us .social  .facebook{background-position:-55px 0px;}
.about .details1 .about_us .social  .twitter {background-position:-85px 0px;}
.about .details1 .about_us .social  .wifi    {background-position:-115px 0px;}
.about .details1 .about_us .social  .vimeo   {background-position:-145px 0px;}
.about .details1 .about_us .social  .dribble {background-position:-175px 0px;}
.about .details1 .about_us .social  .msn     {background-position:-205px 0px;}
.about .details1 .archives ul li{
    border-bottom: 2px dotted black;
    padding : 10px 0;
}
.about .details1 .contact_us ul li{ padding : 7px 0; font-size: 1.3vw;}
.about .details1 .archives ul li a ,
.about .details1 .contact_us ul li a
 {
    text-decoration: none;
    color: #434343;
 }
 .about .details1 .sign_newspapers form input[type="text"],
 .about .details1 .sign_newspapers form input[type="email"]{
     margin-top: 8px;
     background-color :#FAFAFA ;
     border: none;
     width:100% ;
     min-height: 40px;
     border-bottom: 1px solid #d9d9d9;
     padding : 10px ;
     font-size: 18px;
     outline: none ;
     color :#434343;
     font-style: italic;
 }
 .about .details1 .sign_newspapers form input[type="submit"]{
    float: right;
    width:40% ;
    min-height: 20px;
    background-color: #12bbd5;
    font-size: 20px;
    outline: none ;
    color :#FFFFFF;
    font-weight: 300;
    border: none;
    padding : 5px 10px;
    
 }
 footer .details2{
     min-height : 50px ;
     width: 100%; 
     background-color: #202020;
 }
 footer .details2 ul li a {
     text-decoration : none ;
      font-size :1.5vw ;
      color :#FFFFFF;
 }
 /**********************************products-content*************************************/
 .products .products-list   {
     background-color : #91B900 ;
     padding-top : 5px ;


 }
 .products h3 {
     background-color : #000 ;
     color : white ;
     font-size : 1.5vw ;
     text-transform: uppercase;
     font-weight: 300;
     height: 50px;
     line-height: 50px ;   
     padding-left : 20px
 }
 .products .products-list li{
  
    padding : 4px 0 4px 20px;
    transition: all 1s;
 
 }
.products .products-list li:hover {
    background-color : #000 ;

}
.products .products-list li a{
     text-decoration: none;
     color : white ;
     font-size : 1.5vw ;
     text-transform: uppercase;
     font-weight: 300 ;
 }
/**********************************account-content*************************************/
.facebook{
    background:#327782;
    transition:all 0.3s ease-in-out;
    height:40px
}
.facebook img{
    height:40px ;
    background: #35c3d9;
    padding: 10px;
    float: left;
}
.facebook i{
    color:white;
    font-size: 1.1rem;
    font-style: normal;   

     
}
/*******************************404-page-not-found ******************************/

.title{
	margin-bottom: 80px;
}	
.title h2{
	font-size:11em;
	color:#327782;
	text-align:center;
	margin: 100px 0 40px 0;
}
.title h3{
	font-size:10em;
	color:#327782;
	text-align:center;
	margin-bottom:1px;
	margin-top: -20px;
}			
.gray {
	margin-bottom: 100px;
	background: rgba(12, 52, 77, 0.34);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	color:yellow;
	text-decoration:none;
	padding: 25px 0;
	font-size: 20px;
	font-weight:600;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
/********************************cart&wishlist**************************************/
.mt-100 {
    margin-top: 100px
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.mb-45 {
    margin-bottom: 45px
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px
}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1
}


    




/* Media */

@media screen and (max-width : 768px) and (min-width : 576px){
    .upper_menu{
        height : 105px ;
     }
     .upper_menu ul{
         line-height: 105px  ;
         margin:  0
     }
     .header .top-header .lower_menu ul li a { font-size :2vw }
     .sales div div {width:45% }
     .sales h3{ font-size: 5vw;  }
     .section_header{font-size: 4vw; }
  
}

@media screen and (max-width : 575px) {
    .upper_menu{
        height : 105px ;
     }
     .upper_menu ul{
         line-height: 105px  ;
         margin:  auto 30px ;
     }
     .header .top-header .lower_menu ul li a { font-size :2vw }
     .sales div div {width:70% }
     .sales div .sales_content .sales_discount{width:90% ; margin:10px }
     .sales h3{ font-size: 7vw;  }
     .section_header{font-size: 5vw; }
}
@media screen and (max-width : 479px){
    .upper_menu ul{
        line-height: 105px  ;
        margin:  0
    }
    .header .top-header .lower_menu ul li a { font-size :2.7vw }
    .sales h3{ font-size: 7vw;  }
    .section_header{font-size: 7vw; }
}



