  <!-- Our Brands -->
  <div class="brands_section mt-5">
    <h3 class="section_header text-uppercase my-4">our major brands</h3>
    <div class="row  justify-content-center">
        <img src="assets/images/b1.png" class="col-lg-2 col-sm-4 col-6 px-0">
        <img src="assets/images/b2.png" class="col-lg-2 col-sm-4 col-6 px-0">
        <img src="assets/images/b3.png" class="col-lg-2 col-sm-4 col-6 px-0">
        <img src="assets/images/b4.png" class="col-lg-2 col-sm-4 col-6 px-0">
        <img src="assets/images/b5.png" class="col-lg-2 col-sm-4 col-6 px-0">
        <img src="assets/images/b6.png" class="col-lg-2 col-sm-4 col-6 px-0">
    </div>
</div>
