
    <!-- Sales  -->
    <div class="sales py-5">
      <h3 class="section_header text-uppercase text-center my-4">check out our unique approach to fashion</h3>
      <div class="row justify-content-sm-around justify-content-center ">
        <div class="sales_content col-lg-3 col-sm-5 col-11 mt-2">
          <div class="sales_discount d-inline-block my-lg-3 mx-lg-5">
            <h4 class="float-start text-capitalize fs-2">sale <br> 60%</h4>
            <img class="float-end" src="assets/images/s1.png">
          </div>
        </div>
        <div class="sales_content col-lg-3 col-sm-5 col-11 mt-2">
          <div class="sales_discount  d-inline-block my-lg-3 mx-lg-5">
            <h4 class="float-start text-capitalize fs-2">free <br>shipping</h4>
            <img class="float-end" src="assets/images/s2.png">
          </div>
        </div>
        <div class="sales_content col-lg-3 col-sm-5 col-11 mt-2">
          <div class="sales_discount  d-inline-block my-lg-3 mx-lg-5">
            <h4 class="float-start text-capitalize fs-2">24/7 <br>support</h4>
            <img class="float-end" src="assets/images/s3.png">
          </div>
        </div>
      </div>
    </div>

