<footer class="mt-5">
    <div class="details2">
        <div class="container">
            <ul class="list-unstyled float-start d-flex  align-content-center">
                <li><a href="#" class="text-uppercase mx-3">home</a></li>
                <li><a href="#" class="text-uppercase mx-3">portfolio</a></li>
                <li><a href="#" class="text-uppercase mx-3">sitemap</a></li>
                <li><a href="#" class="text-uppercase mx-3">contact</a></li>
            </ul>
        </div>
    </div>
</footer>
