<div class="container d-flex justify-content-center mt-100">
    <div class="row">
        <div *ngFor="let item of myWishlist" class="col-3">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> 
                    <a href="#" data-abc="true"> 
                        <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>
                         <span class="text-center"><i class="fa fa-rupee"></i> {{item.price}} $</span>
                    <div class="product-action">
                        <div class="product-action-style"> 
                            <a> <i class="fa fa-minus" (click)="deleteProductFromWishlist(item._id)"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>